<launch>
    <include file="$(find larcc_bringup)/launch/ur10e_bringup.launch" />

    <arg name="camera2_prefix" default="top"/>
    <arg name="camera3_prefix" default="behind"/>

    <arg name="camera2_serial_number" default="19052130216"/>
    <arg name="camera3_serial_number" default="20101230094"/>
    <arg name="num_orbbec_cameras" default="2"/>

    <!-- usb_cam node to publish rgb images from top camera -->
    <node name="color" ns="camera_$(arg camera2_prefix)" pkg="usb_cam" type="usb_cam_node" output="screen">
      <rosparam command="load" file="$(find larcc_bringup)/config/camera_$(arg camera2_prefix).yml"/>
    </node>

    <!-- usb_cam node to publish rgb images from behind camera -->
    <node name="color" ns="camera_$(arg camera3_prefix)" pkg="usb_cam" type="usb_cam_node" output="screen">
      <rosparam command="load" file="$(find larcc_bringup)/config/camera_$(arg camera3_prefix).yml"/>
    </node>

    <include file="$(find astra_camera)/launch/astra_pro.launch">
      <arg name="camera_name" value="camera_$(arg camera2_prefix)"/>
      <arg name="enable_point_cloud" value="false"/>
      <arg name="publish_tf" default="false"/>
      <arg name="depth_width" default="640"/>
      <arg name="depth_height" default="480"/>
      <arg name="depth_fps" default="30"/>
      <arg name="enable_color" value="false"/>
      <arg name="enable_ir" default="false"/>
      <arg name="use_uvc_camera" value="false"/>
      <arg name="serial_number" value="$(arg camera2_serial_number)"/>
      <arg name="device_num" value="$(arg num_orbbec_cameras)"/>
    </include>

    <!-- Hand Locator Node -->
    <node name="hand_locator" pkg="larcc_antecipative_object_handover" type="hand_locator.py" output="screen" ns="camera_top"/>

    <!-- Hand Following Controller -->
    <node name="hand_following" pkg="larcc_antecipative_object_handover" type="hand_following.py" output="screen"/>

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find larcc_examples)/rviz/bringup.rviz" required="true"/>

<!--     <node name="wood_block_client" pkg="scripts" type="wood_block_client.py" output="screen"/> -->
</launch>