<launch>
    <arg name="velocity_controller" default="false"/>

    <include file="$(find larcc_bringup)/launch/ur10e_bringup.launch">
        <arg name="velocity_controller" value="$(arg velocity_controller)"/>
    </include>

    <include file="$(find larcc_bringup)/launch/cameras.launch" />

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find larcc_bringup)/rviz/bringup.rviz" required="true"/>
</launch>