<?xml version="1.0"?>

<launch>
    <include file="$(find ur_robot_driver)/launch/ur10e_bringup.launch">
        <arg name="robot_ip" value="192.168.56.2"/>
    </include>

<!--     <node pkg="scripts" type="client.py" name="client"/> -->

    <include file="$(find ur10e_moveit_config)/launch/ur10e_moveit_planning_execution.launch">
    </include>

    <node pkg="gripper_action_server" type="gripper_action_server_node.py" name="gripper_action_server"/>

<!--      --><!-- While actions are not available for quaternions poses, the node below can be used for doing movements using services -->
    <node pkg="arm" type="UR10eArm.py" name="ur10e_arm"/>

<!--     <node name="rviz" pkg="rviz" type="rviz" args="-d $(find larcc_bringup)/rviz/ur10e_gantry_tables.rviz" required="true"/> -->
</launch>