<?xml version="1.0"?>

<launch>
    <arg name="velocity_controller" default="true"/>

    <include file="$(find ur_robot_driver)/launch/ur10e_bringup.launch">
        <arg name="robot_ip" value="192.168.56.2"/>
    </include>

    <include file="$(find ur10e_moveit_config)/launch/ur10e_moveit_planning_execution.launch">
    </include>

    <node pkg="gripper_action_server" type="gripper_action_server_node.py" name="gripper_action_server"/>

    <!-- This node provides custom services in ROS to facilitate moving the robot with MoveIt! -->
    <node pkg="arm" type="UR10eArm.py" name="ur10e_arm" unless="$(arg velocity_controller)"/>

    <!-- This node provides a tracker to continuously move the robot with a velocity controller to a target pose -->
<!--     <node pkg="arm" type="rt_vel_controller.py" name="rt_vel_controller" if="$(arg velocity_controller)" launch-prefix="xterm -e"/> -->
    <node pkg="arm" type="rt_vel_controller.py" name="rt_vel_controller" if="$(arg velocity_controller)"/>

<!--     <node name="rviz" pkg="rviz" type="rviz" args="-d $(find larcc_bringup)/rviz/ur10e_gantry_tables.rviz" required="true"/> -->
</launch>