<?xml version="1.0"?>
<robot name="sensor_astra" xmlns:xacro="http://ros.org/wiki/xacro">
  <!-- Xacro properties -->
  <xacro:property name="astra_depth_rel_cam_py" value="0.0370" />
  <xacro:property name="astra_cam_rel_rgb_py"   value="0.0100" />
  <xacro:property name="astra_dae_display_scale"   value="1" />
  <!-- Parameterised in part by the values in turtlebot_properties.urdf.xacro -->
  <xacro:macro name="sensor_astra" params="parent prefix *origin">
    <joint name="${prefix}_rgb_joint" type="fixed">
      <xacro:insert_block name="origin" />
      <parent link="${parent}"/>
      <child link="${prefix}_link" />
    </joint>
    <link name="${prefix}_link">
      <visual>
        <origin xyz="0 0 0" rpy="${M_PI/2} 0 ${M_PI/2}"/>
        <geometry>
          <mesh filename="package://larcc_cell_description/meshes/sensors/astra2.dae" scale="${astra_dae_display_scale} ${astra_dae_display_scale} ${astra_dae_display_scale}"/>
        </geometry>
      </visual>
      <collision>
        <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
        <geometry>
        <box size="0.0400 0.1650 0.0300"/>
      </geometry>
      </collision>
      <inertial>
        <mass value="0.564" />
        <origin xyz="0 0 0" />
        <inertia ixx="0.003881243" ixy="0.0" ixz="0.0"
                 iyy="0.000498940" iyz="0.0"
                 izz="0.003879257" />
      </inertial>
    </link>

    <joint name="${prefix}_joint" type="fixed">
      <origin xyz="0 ${astra_cam_rel_rgb_py} 0"
              rpy="0 0 0"/>
      <parent link="${prefix}_link"/>
      <child link="${prefix}_rgb_optical_frame"/>
    </joint>
    <link name="${prefix}_rgb_optical_frame"/>

    <joint name="${prefix}_depth_joint" type="fixed">
      <origin xyz="0 ${astra_depth_rel_cam_py} 0" rpy="0 0 0" />
      <parent link="${prefix}_link" />
      <child link="${prefix}_depth_optical_frame" />
    </joint>
    <link name="${prefix}_depth_optical_frame"/>

  </xacro:macro>
</robot>

